# Go Binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.s
*.d

# Folders
_obj/
_test/
build/
dist/
node_modules/

# Log files
*.log

# Database files
*.sqlite
*.db

# Temporary files
tmp/
*.tmp

# Binary files
*.bin

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
ehthumbs.db
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# .idea directory
.idea/

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Local env files
.env
.env.local